In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%matplotlib inline

In [5]:
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:,.2f}'.format #supress scientific notation
plt.rcParams['figure.figsize'] = (16,8)

In [10]:
data=pd.read_csv("abalone.csv")
data

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.46,0.36,0.10,0.51,0.22,0.10,0.15,15
1,M,0.35,0.27,0.09,0.23,0.10,0.05,0.07,7
2,F,0.53,0.42,0.14,0.68,0.26,0.14,0.21,9
3,M,0.44,0.36,0.12,0.52,0.22,0.11,0.15,10
4,I,0.33,0.26,0.08,0.20,0.09,0.04,0.06,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.56,0.45,0.17,0.89,0.37,0.24,0.25,11
4173,M,0.59,0.44,0.14,0.97,0.44,0.21,0.26,10
4174,M,0.60,0.47,0.20,1.18,0.53,0.29,0.31,9
4175,F,0.62,0.48,0.15,1.09,0.53,0.26,0.30,10
4176,M,0.71,0.56,0.20,1.95,0.95,0.38,0.49,12